:root {
  --elixir-blue: rgb(0, 84, 114);
  --elixir-blue-dim: rgba(0, 84, 114, 0.7);
  --elixir-orange: rgb(244, 125, 32);
  --elixir-orange-dim: rgba(244, 125, 32, 0.7);
  --elixir-grey: rgb(77, 72, 72);
  --elixir-green: rgb(190, 191, 50);
}


body {
  font-family: "Corbel", Helvetica, sans-serif;
  color: var(--elixir-grey);
}

h1, h2, h3 {
  font-family: "Corbel", Helvetica, sans-serif;
  text-transform: none;
  font-weight: normal;
  color: var(--elixir-blue);
}

.highlight {
  color: var(--elixir-orange);
}

.remark-code, .remark-inline-code {
  font-family: Courier, serif;
}
